$font: 'Century Gothic Regular', sans-serif;
$font-b: 'Century Gothic Bold', sans-serif;
$font-p: 'Playfair Display', serif;

$blue-c: #0E567F;
$green-c: #3CA188;
$orange-c: #DB8D44;
$white-c: #fff;