.project {
   padding: 65px 0 0;
   background: #0E567F;
   text-align: center;
   color: $white-c;
   position: relative;

   & .title {
      margin-bottom: 90px;
   }

   &__bgr {
      @include align (true, true, absolute);
      font: 700 200px/270px $font-p;
      text-transform: uppercase;
      color: rgba(255,255,255,.05);
   }

   &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   &__item {
      width: 31%;
      margin-bottom: 120px;
   }

   &__icon {
      color: $green-c;
      font-size: 80px;
      margin-bottom: 10px;
      display: inline-block;
   }

   &__title {
      font-size: 36px;
      margin-bottom: 30px;
   }

   &__text {
      font-size: 22px;
      line-height: 27px;
   }
}